{% extends "layout.html" %}
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css"/>

{%  block css %}
        <style>
        .hide {
            display: none;
        }

        .shadow {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }

        .modal {
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
    </style>
{% endblock %}
{% block html %}
<h1>班级列表</h1>
<div>
    <a href="/add_class/">添加</a>
    <a onclick="showModal();">对话框添加</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>班级名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for row in class_list %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.title }}</td>
            <td>
                <a href="/edit_class/?nid={{ row.id }}">编辑</a>
                |
                <a onclick="editModal(this)">对话框编辑</a>
                |
                <a href="/del_class/?nid={{ row.id }}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#    对话框和遮罩#}
<div id="shadow" class="shadow hide"></div>
<div id="modal" class="modal hide">

    <p>
        <input id="title" type="text" name="title"/>
    </p>
    <input type="button" value="提交" onclick="AjaxSend();"/><span id="errormsg"></span>
    <input type="button" value="取消" onclick="cancleModal();"/>

</div>
<div id="edit_modal" class="modal hide">
    <div>对话框编辑</div>
    {#        使用对话框进行添加#}
    <p>
        {# hidden隐藏　为了方便进行数据的处理           #}
        <input id="edit_id" type="hidden" name="id"/>
        <input id="edit_title" type="text" name="title"/>
    </p>
    <input type="button" value="提交" onclick="AjaxEditSend();"/><span id="edit_errormsg"></span>
    <input type="button" value="取消" onclick="cancleEditModal();"/>

</div>
{% endblock %}
{% block js %}
<script src="/static/plugin/jquery-1.12.4.js"></script>
<script>
    function showModal() {
        document.getElementById('shadow').classList.remove('hide');
        document.getElementById('modal').classList.remove('hide');
    }

    function editModal(_this) {
        document.getElementById('shadow').classList.remove('hide');
        document.getElementById('edit_modal').classList.remove('hide');
        /*
            1._this获取到当前的标签
            2.找到标签的父标签的两个兄弟标签
            3．把标签中的内容复制到对话框中
        */
        {# 获取父标签的前面的兄弟标签#}
        var row = $(_this).parent().prevAll();
        console.log(row)
        var title = $(row[0]).text();
        var id = $(row[1]).text();
        $('#edit_id').val(id)
        $('#edit_title').val(title);
    }

    function cancleModal() {
        document.getElementById('shadow').classList.add('hide');
        document.getElementById('modal').classList.add('hide');
    }

    function cancleEditModal() {
        document.getElementById('shadow').classList.add('hide');
        document.getElementById('edit_modal').classList.add('hide');
    }

    function AjaxSend() {
        $.ajax({
            url: '/modal_add_class/',
            type: 'POST',
            data: {'title': $('#title').val()},
            success: function (data) {
                // 当服务端处理完成后，返回数据时，该函数自动调用
                // data=服务端返回的值
                console.log(data);
                if (data == "ok") {
                    location.href = "/classes/";
                } else {
                    $('#errormsg').text(data);
                }
            }
        })
    }

    function AjaxEditSend() {
        $.ajax({
            url: '/modal_edit_class/',
            type: 'POST',
            data: {
                'title': $('#edit_title').val(),
                'id': $('#edit_id').val()
            },
            success: function (data) {
                // 当服务端处理完成后，返回数据时，该函数自动调用
                // data=服务端返回的值
                //　进行字符串转json
                // JSON.parse(字符串) => 对象
                // JSON.stringify(对象) => 字符串
                data = JSON.parse(data)
                console.log(data)
                if (data.code == 200) {
                    {#刷新当前页面#}
                    location.reload()
                } else {
                    $('#edit_errormsg').text(data.message);
                }
            }
        })
    }
</script>
{% endblock %}